{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<body>
<header class="header">
            <div class="header__inner container">
                <a href="{% url 'main:dashboard' %}" class="header__logo logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Finora" class="logo__image" loading="lazy" width="155px" height="23px">
                </a>



                <div class="header__avatar avatar">
                    {% if request.user.avatar %}
                    <a href="{% url 'profile' %}" class="avatar__link header__avatar-link">
                        <img src="{{ request.user.avatar.url }}" width="44" height="44" loading="lazy" alt="" class="avatar__image header__avatar-image">
                    </a>
                    {% else %}
                        <a href="{% url 'profile' %}" class="avatar__link header__avatar-link">
                            <img src="{% static 'images/defaultavatar.png' %}" width="44" height="44" loading="lazy" alt="" class="avatar__image header__avatar-image">
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

<main class="content">
    <div class="add-transaction form__wrapper container">
        <form method="post" class="add-transaction__form form">
            {% csrf_token %}
            <h2 class="add-transaction__title form__title">Add Transaction</h2>
            <div class="add-transaction__fields form__fields">

                {% render_field form.transaction_type class+="form__field" autocomplete="new-password" %}
                {% render_field form.category class+="form__field" autocomplete="new-password" %}


                {% render_field form.date class+="add-transaction__field form__field form__field--wicons" autocomplete="new-password" %}
                {% render_field form.amount class+="add-transaction__field form__field" placeholder='Amount' autocomplete="new-password" %}
            </div>
            <button type="submit" class="add-transaction__button form__button button">Add</button>
        </form>
    </div>
</main>
</body>
{% endblock %}