{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <header class="header">
        <div class="header__inner container">
            <a href="#" class="header__logo logo">
                <img src="{% static 'images/logo.svg' %}" alt="Finora" class="logo__image" loading="lazy" width="155px" height="23px">
            </a>

            <div class="header__welcome hidden-mobile">
                <p>Welcome to Finora</p>
            </div>

            <div class="header__buttons">
                <a href="#" class="header__login">Log In</a>
                <button class="header__button button button--small">Get Started</button>
            </div>
        </div>
    </header>
    <main class="content">
        <div class="reset-password-done form__wrapper container">
            <div class="reset-password-done__form form">
                <h2 class="reset-password-done__title form__title">Reset Password</h2>
                <div class="reset-password-done__text">
                    <p>We sent an email with a link. Check your email.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}