{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>

<header class="header">
    <div class="header__inner container">
        <a href="{% url 'main:dashboard' %}" class="header__logo logo">
            <img src="{% static 'images/logo.svg' %}" alt="Finora" class="logo__image" loading="lazy" width="155px" height="23px">
        </a>

        <h3 class="header__category hidden-mobile">Dashboard</h3>

        <div class="header__avatar avatar">
            {% if request.user.avatar %}
            <a href="{% url 'profile' %}" class="avatar__link header__avatar-link">
                <img src="{{ request.user.avatar.url }}" width="44" height="44" loading="lazy" alt="" class="avatar__image header__avatar-image">
            </a>
            {% else %}
                <a href="{% url 'profile' %}" class="avatar__link header__avatar-link">
                    <img src="{% static 'images/defaultavatar.png' %}" width="44" height="44" loading="lazy" alt="" class="avatar__image header__avatar-image">
                </a>
            {% endif %}
        </div>
    </div>
</header>


<main class="content">
    <div class="line line--vertical line--vertical__dashboard hidden-mobile"></div>
    <div class="line line--horizontal line--horizontal__dashboard hidden-mobile"></div>
    <aside class="sidebar container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--active">
                    <img src="{% static 'images/sidebar/dashboard.svg' %}" width="20" height="20" alt="" loading="lazy" class="nav__item-icon hidden-mobile">
                    <a href="{% url 'main:dashboard' %}" class="nav__link">Dashboard</a>
                </li>

                <li class="nav__item">
                    <img src="{% static 'images/sidebar/credit-card.svg' %}" width="20" height="20" alt="" loading="lazy" class="nav__item-icon hidden-mobile">
                    <a href="{% url 'transactions:transactions_list' %}" class="nav__link">Transactions</a>
                </li>

                <li class="nav__item ">
                    <img src="{% static 'images/sidebar/category.svg' %}" width="20" height="20" alt="" loading="lazy" class="nav__item-icon hidden-mobile">
                    <a href="{% url 'categories:category_list' %}" class="nav__link">Categories</a>
                </li>

                <li class="nav__item">
                    <img src="{% static 'images/sidebar/star.svg' %}" width="20" height="20" alt="" loading="lazy" class="nav__item-icon hidden-mobile">
                    <a href="#" class="nav__link">Goals</a>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="section dashboard">
        <div class="section__inner dashboard__inner container">
            <ul class="dashboard__cards">
                <li class="dashboard__card dashboard__card--big dashboard__block">
                        <h4 class="dashboard__card-title dashboard__block-title">Balance</h4>
                    <div class="dashboard__card-amount">
                        <p>{{ request.user.balance }}$</p>
                    </div>
                    <div class="dashboard__card-additionally">
                        <p>Personal best: {{ max_balance }}$</p>
                    </div>
                </li>
                <li class="dashboard__card dashboard__block">
                    <h4 class="dashboard__card-title dashboard__block-title">Total Income - {{ current_month }}</h4>
                    <div class="dashboard__card-amount">
                        <p>{{ current_month_income|floatformat:2 }}$</p>
                    </div>
                    <div class="dashboard__card-additionally">
                        {% if month_comparison.comparison_income == 'better' %}
                            <p><span class="dashboard__card-additionally--better">{{ month_comparison.percent_income }}% better</span> than last month</p>
                        {% elif month_comparison.comparison_income == 'worse' %}
                            <p><span class="dashboard__card-additionally--worse">{{ month_comparison.percent_income }}% worse</span> than last month</p>
                        {% else %}
                            <p><span class="dashboard__card-additionally--same">Same as last month</p>
                        {% endif %}
                    </div>
                </li>
                <li class="dashboard__card dashboard__block">
                    <h4 class="dashboard__card-title dashboard__block-title">Total Expense - {{ current_month }}</h4>
                    <div class="dashboard__card-amount">
                        <p>{{ current_month_expenses|floatformat:2 }}$</p>
                    </div>
                    <div class="dashboard__card-additionally">
                        {% if month_comparison.comparison_expense == 'better' %}
                            <p><span class="dashboard__card-additionally--better">{{ month_comparison.percent_expense }}% better</span> than last month</p>
                        {% elif month_comparison.comparison_expense == 'worse' %}
                            <p><span class="dashboard__card-additionally--worse">{{ month_comparison.percent_expense }}% worse</span> than last month</p>
                        {% else %}
                            <p><span class="dashboard__card-additionally--same">Same as last month</p>
                        {% endif %}
                    </div>
                </li>
                <li class="dashboard__card dashboard__block">
                    <h4 class="dashboard__card-title dashboard__block-title">Difference - {{ current_month }}</h4>
                    <div class="dashboard__card-amount">
                        <p>{{ current_month_difference|floatformat:2 }}$</p>
                    </div>
                    <div class="dashboard__card-additionally">
                        {% if month_comparison.comparison == 'better' %}
                            <p><span class="dashboard__card-additionally--better">{{ month_comparison.percent_diff }}% better</span> than last month</p>
                        {% elif month_comparison.comparison == 'worse' %}
                            <p><span class="dashboard__card-additionally--worse">{{ month_comparison.percent_diff }}% worse</span> than last month</p>
                        {% else %}
                            <p><span class="dashboard__card-additionally--same">Same as last month</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <div class="dashboard__diagrams">
                <div class="dashboard__analytics dashboard__block">
                    <h4 class="dashboard__block-title dashboard__analytics-title">Analytics</h4>
                </div>
                <div class="dashboard__chart dashboard__block">
                    <h4 class="dashboard__block-title dashboard__chart-title">Chart By Category</h4>
                    <div class="dashboard__chart-wrapper">
                        <ul class="dashboard__chart-list">
                            {% for category, color, amount in categories_data %}
                                <li class="dashboard__chart-item">
                                    <span class="dashboard__chart-color" style="background-color: {{ color }}"></span>
                                    {{ category }}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="dashboard__chart-canvas">
                            <canvas id="categoryChart" width="270"></canvas>
                        </div>
                    </div>
                    <script>
                        const ctx = document.getElementById('categoryChart').getContext('2d');
                        new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: {{ categories_json|safe }},
                                datasets: [{
                                    data: {{ amounts_json|safe }},
                                    backgroundColor: {{ colors_json|safe }},
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {
                                        display: false
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="dashboard__lists">
                <div class="dashboard__transactions dashboard__block">
                    <header class="dashboard__transactions-header dashboard__block-header">
                        <h4 class="dashboard__transactions-title dashboard__block-title">Recent Transactions</h4>
                        <a href="{% url 'transactions:transactions_list' %}" class="dashboard__transactions-button dashboard__block-button">View All</a>
                    </header>
                    <table class="transactions__table">
                        <thead class="transactions__thead">
                        <tr class="transactions__thead-columns">
                            <th class="transactions__thead-column dashboard__thead-column">Type</th>
                            <th class="transactions__thead-column dashboard__thead-column">Category</th>
                            <th class="transactions__thead-column dashboard__thead-column">Date</th>
                            <th class="transactions__thead-column dashboard__thead-column">Amount</th>

                        </tr>
                        </thead>
                        <tbody class="transactions__tbody">
                        {% for transaction in transactions %}
                            <tr class="transactions__tbody-string">
                                <td class="transactions__tbody-data dashboard__tbody-data">{{ transaction.transaction_type }}</td>
                                <td class="transactions__tbody-data dashboard__tbody-data">{{ transaction.category }}</td>
                                <td class="transactions__tbody-data dashboard__tbody-data">{{ transaction.date }}</td>
                                {% if transaction.transaction_type == 'Income' %}
                                    <td class="transactions__tbody-data transactions__tbody-income dashboard__tbody-data">{{ transaction.amount }}$</td>
                                {% else %}
                                    <td class="transactions__tbody-data transactions__tbody-expense dashboard__tbody-data">{{ transaction.amount }}$</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="dashboard__goals dashboard__block">
                    <header class="dashboard__goals-header dashboard__block-header">
                        <h4 class="dashboard__goals-title dashboard__block-title">Goals</h4>
                        <a href="#" class="dashboard__goals-button dashboard__block-button">View All</a>
                    </header>
                </div>
            </div>
        </div>
    </section>
</main>

</body>

{% endblock %}