.error {
  text-align: center;
  display: block;
  margin: 10px auto 0;
  max-width: 400px;
  font-size: 14px;
  margin-top: -4px;
  padding-bottom: 12px;


  @include desktop {
    max-width: 350px;
  }

  @include tablet {
    font-size: 12px;
    max-width: 250px;
    padding-bottom: 12px;
  }
}