.reset-password-done {

  @include tablet {
    min-height: 60vh;
  }

  @include mobile {
    min-height: 25vh;
  }

  &__text {
    margin-top: 16px;

    @include mobile {
      font-size: 16px;
      margin-top: 8px;
    }
  }

}