.reset-password-complete {

  &__form {
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include tablet {
    min-height: 60vh;
  }

  @include mobile {
    min-height: 25vh;
  }

  &__text {
    margin-block: 16px 24px;

    @include desktop {
      font-size: 16px;
      text-align: center;
    }

    @include mobile {
      font-size: 14px;
      margin-block: 8px
    }
  }

}